.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.card {
  width: 300px;
  height: 400px; /* set a fixed width for all cards */
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
}


.card img {
  width: 100%;
  height: 40%;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 18px;
  margin-bottom: 5px;
}

.card p {
  font-size: 16px;
  margin-bottom: 10px;
}

.card button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

.card button:hover {
  background-color: #3e8e41;
}

