.form {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 20px;
  background-color: #24deff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  max-width: 500px;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #fff;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #333;
  box-shadow: none;
}

input[type="text"]::placeholder,
textarea::placeholder {
  color: #bbb;
}

input[type="submit"] {
  background-color: #0077ff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

select {
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  box-shadow: none;
  appearance: none;
  /* add your custom styles here */
}

input[type="submit"]:hover {
  background-color: #00c3ff83;
}

/* style the select arrow */
select::-ms-expand {
  display: none;
}

select::after {
  content: "\25BC";
  color: #555;
  padding-right: 5px;
}

/* style the select options */
select option {
  background-color: #24deff;
  color: #000000;
}

.no-style {
  all: unset;
}
