.forma{
  margin-top: 20px;
  margin-left: 10px;
  line-height: 2.5;
}
input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #24deff;
    background-color: white;
    outline: none;
    margin-right: 10px;
  }
  
  input[type="radio"]:checked {
    background-color: #24deff;
  }
  
  input[type="submit"] {
    background-color: #0077ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #00c3ff83;
  }
